
/*-----------------------------
  Responsive Project
-----------------------------*/
@mixin ScreenResponsive($BreakPoint) {
    @if($BreakPoint == Phone_Portrait) { // 575.85
        @media only screen and (max-width: 35.99em) { @content }
    } @else if($BreakPoint == Phone_Landscape) { // 767.84
        @media only screen and (max-width: 47.99em) { @content }
    } @else if($BreakPoint == Tablet) { // 991.84
        @media only screen and (max-width: 61.99em) { @content }
    }@else if($BreakPoint == Desktop) { // 1199.84
        @media only screen and (max-width: 74.99em) { @content }
    }@else if($BreakPoint == Desktop_Large) { // 1200
        @media only screen and (min-width: 75em) { @content }
    }
}

@mixin PrinterResponsive() {
    @media print {
        @content
    }
}

/*-----------------------------
  Language Project
-----------------------------*/
@mixin Language($Lang) {
    @if($Lang == Arabic) {
        html[lang="ar"] {
            @content ;
        }
    } @else if($Lang == English) {
        html[lang="en"] {
            @content ;
        }
    }
}

/*-----------------------------
  Re-use Part
-----------------------------*/
@mixin BoxCenter() {
    position: absolute;
    left : 50% ;
    top : 50% ;
    transform: translate(-50% , -50%);
}

@mixin ScrollBar() {
    &::-webkit-scrollbar {
        width: .4rem;
    }
    &::-webkit-scrollbar-track ,
    &::-webkit-scrollbar-thumb {
        background-color: transparent;
        border-radius: 10px;
        transition: all .3s;
    }
    &:hover {
        &::-webkit-scrollbar-track {
            background-color: #181818de;
        }
        &::-webkit-scrollbar-thumb {
            background-color: #ffffff45;
        }
    }
}
