
/*-----------------------------
  Project Fonts
-----------------------------*/

/*-----------------------------
  Project Colors
-----------------------------*/
$PrimaryColor-Project : #fff ;
$SecondaryColor-Project : #fff ;
$TertiaryColor-Project : #fff ;
$BodyColor : #6c7a87;
/*-----------------------------
  Theme Colors
-----------------------------*/
$PrimaryColor-Theme : #fff ;
$SecondaryColor-Theme : #fff ;
/*-----------------------------
  Standard Colors
-----------------------------*/
$WhiteColor: #fff;
$BlackColor: #000;
$BlueColor: #165df5;
$YellowColor: #ffc329;
$AquamarineColor: #17e79b;
$OrangeColor: #f28e1c;
$RedColor: #f93542;
$GrayColor: #6c7a87;
$LightGrayColor: #969ca2;
$DarkGrayColor: #52595f;
$GreenColor: #19a389;
$SeaColor: #4d81f7;
$GoldColor: #ffce53;
$PurpleColor: #6f5fa6;
