
.Card {
    position: relative;
    width: 100% ;
    border-radius: 10px ;
    background-color: $BackGroundColor;

    &__Inner {

        & {
            padding: 1rem 1.6rem;
        }

        &--Group {

            .Card__Inner {
                padding: 2.4rem ;
            }
        }

    }

    &__Content {

    }

    & {
        &__Header {
            margin-bottom: 1.5rem;
        }

        &__Footer {

        }

        &__Title {
            text-transform: capitalize;
            color : $WhiteColor ;
        }

        &__Summery {

        }
    }

    &:not(:last-child) {
        margin-bottom: 1rem;
    }

    // Version
    &--Taps {

        .Taps {

            &__List {
                padding: 0 1.6rem;
            }
        }
    }

    &--Border {
        border: 1px solid $SeparateBorderColor;
    }

    // Theme
    &--Dark {
        background-color: $BackGroundColor;
    }
}
