
.Card {
    position: relative;
    width: 100% ;
    border-radius: 10px ;
    background-color: $BackGroundColor;
    padding: 1rem 1.6rem;

    &__Header {
        margin-bottom: 1.5rem;
    }

    &__Content {

    }

    &__Footer {

    }

    &__Title {
        text-transform: capitalize;
    }

    &__Summery {

    }

    &--FullCard {
        padding: 0 ;

        .Card {

            &__Header {

            }
        }
    }

    &:not(:last-child) {
        margin-bottom: 1rem;
    }
}
