
.Card {
    position: relative;
    width: 100% ;
    border-radius: 10px ;
    background-color: $BackGroundColor;

    &__InnerGroup {
        border-bottom: 1px solid $SeparateBorderColor;

        .Card__Inner:not(:last-child) {
            border-bottom: 1px solid $SeparateBorderColor;
        }
    }

    &__Inner {
        padding: 2.4rem ;

        &.p0 {
            padding: 0 ;
        }
    }

    &__Content {

    }

    &__Body {

    }

    &__ToolsGroup {
        position: relative;
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
    }

    &__SearchTools {

        .SearchTools {
            display: flex;
            align-items: center;
            gap: .5rem;

            &__Separate {
                margin : 0 1rem;
                border-right: 1px solid $SeparateBorderColor_Extra-1 ;
            }
        }
    }

    & {
        &__Header {
            margin-bottom: 1.5rem;
        }

        &__Footer {

        }

        &__Title {
            text-transform: capitalize;
            color : $WhiteColor ;
        }

        &__Summery {

        }
    }

    &:not(:last-child) {
        margin-bottom: 1rem;
    }

    // Version
    &--Taps {

        .Taps {

            &__List {
                padding: 0 1.6rem;
            }
        }
    }

    &--Border {
        border: 1px solid $SeparateBorderColor;
    }

    // Theme
    &--Dark {
        background-color: $BackGroundColor;
    }
}
