
.Form {

    // Version With Animated Label
    position: relative;

    &__Group {
        position: relative ;
        width : 100% ;
    }

    &__Input ,
    &__Date ,
    &__Search {
        position: relative;
        width: 100%;

        .Date ,
        .Input ,
        .Search {

            &__Area {
                position: relative;
                border : 1px solid $SeparateBorderColor_Extra-1 ;
                border-radius: $BorderRadiusValue ;

                &.Error {
                    border-color: $DangerColor;

                    .Input__Label {
                        color : $DangerColor ;
                    }
                }
            }

            &__Field {
                display: block ;
                width : 100% ;
                font-family: inherit ;
                font-size: 1.5rem ;
                outline: none;
                border: none ;
                padding: 1.3rem 2rem;
                border-radius: $BorderRadiusValue - 1px ;
                transition: all .4s;
            }

            &__Label {
                position: absolute ;
                top : 1rem ;
                left : 2rem ;
                font-size: 1.5rem ;
                font-weight: 700;
                transition: all .3s;
            }
        }
    }

    &__Input {

        .Input {

            &__Field {

                &:focus ~ .Input__Label ,
                &:not(:placeholder-shown) ~ .Input__Label {
                    top: 0;
                    left: 1.5rem;
                    transform: translateY(-50%);
                    font-size: 1.3rem;
                    padding: 0 0.5rem;
                }
            }
        }

        &--Password {

            .Input {

                &__Field {
                    //padding: 1.5rem 4rem 1.5rem 2rem;
                    padding: 1.3rem 4rem 1.3rem 2rem;
                }

                &__Icon {
                    position: absolute;
                    right: 1rem ;
                    top : 50% ;
                    cursor: pointer;
                    transform: translateY(-50%);
                }
            }
        }
    }

    &__Date {

        .Date {

            &__Field {

                &:not(:placeholder-shown) ~ .Date__Label {
                    top: 0;
                    left: 1.5rem;
                    transform: translateY(-50%);
                    font-size: 1.3rem;
                    padding: 0 0.5rem;
                }
            }
        }
    }

    &__CheckBox {
        position: relative;

        .CheckBox {

            &__Area {

            }

            &__Input {
                display: none;

                &:checked {

                    ~ .CheckBox__Label .IconChecked {

                        > .material-icons {
                            display: inline-block;
                        }
                    }
                }
            }

            &__Label {
                display: flex;
                gap: 1rem;
                align-items: center;

                .IconChecked {
                    @extend .CheckBoxNormal
                }

                .TextCheckBox {
                    font-size: 1.6rem;
                    cursor: pointer;
                }
            }

        }
    }

    &__Radio {

    }

    &__Select {

    }

    &__Search {

        //.SearchIcon {
        //    position: absolute;
        //    top: 50%;
        //    right: 1rem;
        //    transform: translateY(-50%);
        //}
    }

    &__Link {

        .Link {

            &__Anchor {
                font-size: 1.4rem;
            }
        }
    }

    &__Error {

        .Error {

            &__Area {
                list-style: initial;
                color: $DangerColor;
            }
        }
    }

    &__Button {

        .Send {
            background-color: $PrimaryColor-Project;
            color : $WhiteColor ;
        }

        .Cancel {
            background-color: $DangerColor;
            color : $WhiteColor ;
        }
    }

    //Theme Form

    &--Dark {

        .Form {

            &__Input ,
            &__Date ,
            &__Search {

                .Input ,
                .Date ,
                .Search {

                    &__Field {
                        color : $TextColor ;
                        background-color: transparent;

                        &::placeholder {
                            color : transparent;
                        }
                    }
                }
            }

            &__Input {

                .Input {

                    &__Field {

                        &:focus ~ .Input__Label ,
                        &:not(:placeholder-shown) ~ .Input__Label {
                            background-color: $BackGroundColor_Extra-3;
                        }
                    }
                }
            }

            &__Date {

                .Date {

                    &__Field {

                        &:not(:placeholder-shown) ~ .Date__Label {
                            background-color: $BackGroundColor_Extra-3;
                        }
                    }
                }
            }

            &__CheckBox {

                .CheckBox {

                    &__Input {

                        &:checked {

                            ~ .CheckBox__Label .IconChecked {
                                background-color: $PrimaryColor-Project;
                                border-color: $PrimaryColor-Project;
                            }
                        }
                    }

                    &__Label {

                        .IconChecked {
                            color : $WhiteColor ;
                        }
                    }

                }
            }

            &__Select {

                .Selector {

                    &__WordLabel {
                        background-color: $BackGroundColor;
                    }

                    &__Options {
                        background-color: $BackGroundColor;
                        border : 1px solid $SeparateBorderColor_Extra-1;
                    }

                    &__Option {

                        &:hover {
                            background-color: $PrimaryColor-Project ;
                            color : $WhiteColor ;
                        }
                    }
                }
            }

            &__Search {

                .Search {

                    &__Field {

                        &::placeholder {
                            color : inherit;
                        }
                    }
                }
            }

            &__Link {

                .Link {

                    &__Anchor {
                        color: $TextColor;

                        &:hover {
                            color : $TertiaryColor-Project;
                        }
                    }
                }
            }
        }
    }

}

@include Language(Arabic) {

    .Form {

        &__Input ,
        &__Date {

            .Input ,
            .Date {

                &__Label {
                    left : initial ;
                    right: 2rem ;
                }
            }
        }

        &__Input {

            .Input {

                &__Field {

                    &:focus ~ .Input__Label ,
                    &:not(:placeholder-shown) ~ .Input__Label {
                        top: 0;
                        left: initial;
                        right: 1.5rem;
                    }
                }
            }

            &--Password {

                .Input {

                    &__Field {
                        //padding: 1.5rem 2rem 1.5rem 4rem;
                        padding: 1.3rem 2rem 1.3rem 4rem;
                    }

                    &__Icon {
                        right: initial ;
                        left: 1rem;
                    }
                }
            }
        }

        &__Date {

            .Date {

                &__Field {
                    &:not(:placeholder-shown) ~ .Date__Label {
                        left: initial;
                        right : 1.5rem
                    }
                }
            }
        }
    }
}
