
.Pagination {
    position: relative;

    &--Numbers {

    }

    &--Select {

        .Pagination {

            &__List {
                gap: 1.5rem ;
            }

            &__PageWord ,
            &__PageOf {
                font-size: 1.2rem;
            }
        }

        .Selector {

            &__Main {
                min-width: 7rem ;
                outline-color: $SeparateBorderColor;
                padding: .5rem 1rem;
            }

            &__WordLabel {
                display: none;
            }

            &__WordChoose {
                font-size: 1.2rem;
            }

            &__Options {
                top : initial;
                bottom: 0 ;
            }

            &.Open {

                .Selector {

                    &__Options {
                        top : initial;
                        bottom: calc(100% + .5rem);
                        visibility: visible;
                        opacity: 1;
                    }
                }
            }
        }
    }

    &__List {
        position: relative;
        display: flex;
        flex-wrap: wrap ;
        align-items: center;
    }

    &__Number a,
    &__Previous a,
    &__Next a ,
    &__Points{
        display: block ;
        font-size: 1.2rem;
        font-weight: 600 ;
        cursor: pointer ;
        padding: .5rem 1rem;
        border: 1px solid $SeparateBorderColor;
        color : $TextColor;
        transition: all .3s ;

        &:hover {
            background-color: $PrimaryColor-Project;
            color : $WhiteColor ;
        }
    }

    &__Points {
        cursor: initial;
    }

    &__Previous {

        a {
            border-bottom-left-radius: $BorderRadiusValue;
            border-top-left-radius: $BorderRadiusValue;
        }
    }

    &__Next {

        a {
            border-bottom-right-radius: $BorderRadiusValue;
            border-top-right-radius: $BorderRadiusValue;
        }
    }

}
