
.Table {
    position: relative;

    &__Head {

    }

    &__BulkTools {

        .BulkTools {
            position: relative ;

            .Form {
                display: flex;
                gap: 1rem ;
            }
        }

    }

    &__ContentList {
        position: relative;
        width: 100% ;
        max-width: 100% ;
        overflow-x : auto;
        overflow-y: hidden;
    }

    &__List {
        display: table;
        width: 100% ;
        font-size: 1.3rem;

        .HeaderList {

        }

        .Item {
            display: table-row;

            &__Col {
                position: relative;
                display: table-cell;
                width: 1%;
                vertical-align: middle;
                padding: .8rem ;
                white-space: nowrap;
                border-bottom: 1px solid $SeparateBorderColor;

                &--Group {

                    .Group {
                        display: flex;
                        align-items: center;
                        width: fit-content;
                        gap: 1rem;
                    }
                }

                &--Check {
                    line-height: 1;

                    .CheckBoxItem:checked + .CheckBoxRow {

                        background-color: $TertiaryColor-Project;

                        > .material-icons {
                            display: inline-block;
                            color : $WhiteColor;
                        }
                    }

                    .CheckBoxRow {
                        @extend .CheckBoxNormal ;
                        width: 1.5rem;
                        height: 1.5rem;

                        > .material-icons {
                            font-size: 1.4rem;
                            left: 0;
                            top: 0;
                        }
                    }
                }

                &--Tools {

                    .Tools {
                        position: relative;
                        visibility: hidden;
                        opacity: 0;
                        transition: all .3s;

                        .IconClick {
                            position: relative;
                            font-size: 1.6rem;
                            color: $TextColor;

                            &.View:hover {
                                color : $TertiaryColor-Project ;
                            }

                            &.Remove:hover {
                                color : $DangerColor ;
                            }

                        }
                    }
                }

                &:first-child {
                    padding-left: 2.4rem;
                }

                &:last-child {
                    padding-right: 2.4rem;
                }
            }

            &:hover {
                .Item {

                    &__Col {

                        &--Tools {

                            .Tools {
                                visibility: visible;
                                opacity: 1;
                            }
                        }
                    }
                }
            }
        }
    }

    &__Pagination {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    @include ScreenResponsive(Phone_Portrait) {

        &__Pagination {
            justify-content: center;

            .Pagination--Numbers {
                display: none;
            }
        }
    }
}

@include Language(Arabic) {

    .Table {

        &__List {

            .Item {

                &__Col {

                    &:first-child {
                        padding-right: 2.4rem;
                        padding-left: 0;
                    }

                    &:last-child {
                        padding-right: 0;
                        padding-left: 2.4rem;
                    }
                }
            }
        }
    }
}
