
.PrintPage {

    &__CompanyInfo {
        display: flex;
        align-items: center;
        gap: 2rem;
        padding: 1rem ;

        .ImageCompany {
            width: 13rem;

            > img {
                width: 100% ;
                border-radius: 50% ;
            }
        }

        .DescriptionCompany {

            .Text {

                > * {
                    margin-bottom: 0.5rem;
                    font-size: 1.8rem;
                    font-weight: 600;
                    color : $SecondaryColor-Project ;
                }
            }
        }
    }

    &__Data {

    }

    &__TextEditorContent {
        padding: 1.5rem 1rem ;
        color : $WhiteColor ;

        .TextEditorContent {

            &__Content {

                .Content {
                    background-color: $BackGroundColor_Extra-4;
                }
            }
        }
    }

    .ListData {

        &--CustomPrint {

            .ListData {

                &__Head {
                    margin-bottom: 1rem ;
                }

                &__Item {
                    color : $WhiteColor ;

                    .Data_Col {
                        padding: 1.5rem 1rem ;
                    }
                }
            }
        }
    }

}
