
.ProfilePage {

    &__Image {
        position: relative;
        display: flex ;
        flex-direction: column;
        align-items: center;
        gap : 1rem ;

        .UserImage {
            width: 10rem;
            height: 10rem;
            cursor: pointer;

            &__Edit {
                position: absolute;
                top : 0 ;
                left : 0 ;
                width: 100%;
                height: 100%;
                background-color: $PrimaryColor-Project;
                border-radius: 50% ;
                visibility: hidden;
                opacity: 0 ;
                transition: all .4s;

                .EditIcon {
                    position: absolute;
                    top : 50% ;
                    left : 50% ;
                    transform: translate(-50% , -50%);
                    color : $WhiteColor ;
                }
            }

            .LockOpenIcon {
                position: absolute;
                bottom: 0 ;
                left : 0 ;
                background-color: $PrimaryColor-Project;
                color : $WhiteColor;
                padding: .5rem;
                border-radius: 50% ;
                visibility: visible;
                opacity: 1;
                transition: all .4s;
            }

            &:hover {

                .UserImage__Edit {
                    visibility: visible;
                    opacity: 1;
                }

                .LockOpenIcon {
                    visibility: hidden;
                    opacity: 0;
                }
            }
        }

        .Text {
            text-align: center;

            > *:not(:last-child) {
                margin-bottom: .8rem;
            }

            .UserName {
                color: $TextColor;
                font-weight: 600;
                font-size: 1.8rem;
            }

            .Specialization {
                font-size: 1.4rem;
            }

            .Date {
                font-size: 1.4rem;
            }
        }
    }

    &__Connection {

        .SocialMedia {
            flex-direction: row ;
            justify-content: space-between;
        }
    }

    &__Skills {

        .Skills {

            &__List {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                gap: 1rem ;

                .Skill {
                    font-size: 1.2rem;
                    background-color: $PrimaryColor-Project;
                    padding: 0 1rem;
                    border-radius: $BorderRadiusValue;
                    color : $WhiteColor ;
                }
            }
        }
    }

    @include ScreenResponsive(Phone_Landscape) {

        &__Connection {

            .SocialMedia {
                justify-content: center;
                gap: 1rem ;
                flex-wrap: wrap;
            }
        }

        &__Skills {

            .Skills {

                &__List {
                    justify-content: center;
                    flex-wrap: wrap;
                }
            }
        }
    }

}

@include Language(Arabic) {

    .ProfilePage {

        &__Image {

            .UserImage {

                .LockOpenIcon {
                    left : initial ;
                    right: 0 ;
                }
            }
        }
    }
}
